* {
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  font-family: sans-serif;
  scroll-behavior: smooth;
  text-align: center;
  background-image: url("assets/grey-vintage-brick-wall.jpg");
}

.main-h1 {
  display: grid;
  font-size: 3rem;
  background-color: lightgrey;
  padding: 1.1ch;
  color: black;
  border-radius: 10px;
  border: solid black 6px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.main-h2 {
  display: grid;
  justify-content: center;
  font-size: 1.4rem;
  background-color: lightgrey;
  padding: 0.5ch;
  color: black;
  border-radius: 5px;
  border: solid black 3px;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.hero-img {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  border: 5px solid black;
}

.display-menu {
  display: grid;
  /*justify-content: center;*/
}

.options-list {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
.crimes-list-item,
.option-list-item {
  list-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: lightgray;
  padding: 1.2ch;
  border-radius: 5px;
  font-size: 1.5rem;
  display: inline-block;
  margin: 3px;
}

.crimes-list-item {
  font-size: 0.9rem;
  padding: 0.8ch;
  margin-right: 1ch;
  margin-left: 1ch;
  font-weight: bold;
}
.crimes-list {
  margin-left: auto;
  margin-right: auto;
}
.display-content {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 225px);
  margin-left: auto;
  margin-right: auto;
}

.display-content-admin-form {
  grid-template-columns: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Prisoner Articke */
.prisoner-article {
  display: grid;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 224px;
  background-color: rgb(236, 236, 236);
}

.prisoner-title {
  text-align: center;
  padding: 3px;
  margin: 3px;
}

.prisoner-img {
  width: 202px;
  height: 202px;
  object-fit: cover;
  border: 1px solid black;
}

.crime-title {
  margin: 0;
  padding-top: 10px;
}

.crime-type {
  text-align: center;
  padding: 7px;
  margin: 0;
}

.block-sell {
  margin-top: 10px;
}

.btn-wrapper {
  text-align: center;
}

.edit-btn {
  padding: 3px 30px 3px 30px;
  margin-top: 10px;
  background-color: #d4d2d2;
}

/* Form Article */
.form-article {
  max-width: 500px;
  margin-top: 10px;
  border: 3px solid black;
  padding: 10px;
  background-color: rgb(236, 236, 236);
}
.edit-form-article {
  display: grid;
  grid-template:
    "edit-form-title-h1 edit-form-title-h1" auto
    "edit-form edit-form-picture-div" auto
    "button-div button-div" auto/
    auto auto;
  grid-gap: 1ch;
  max-width: 1000px;
}

.button-div {
  grid-area: button-div;
}

/* Form starts */
.edit-form {
  grid-area: edit-form;
  display: grid;
  grid-gap: 15px;
}

.form-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 5px;
}
.edit-form-title-h1 {
  grid-area: edit-form-title-h1;
}
.edit-form-picture-div {
  grid-area: edit-form-picture-div;
}
.edit-form-pic {
  width: 400px;
  max-height: 430px;
  object-fit: cover;
  border: 1px solid black;
}

.first-name-div,
.last-name-div,
.crime-type-div,
.nick-name-div,
.block-cell-div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  font-size: 1.3rem;
}

.good-behaviour-checkbox,
.parole-checkbox,
.gang-member-checkbox {
  margin-left: 3ch;
}

label {
  font-weight: 600;
}

.picture-label,
.crime-details-label {
  font-size: 1.3rem;
  margin-bottom: -1.5ch;
  text-align: left;
}

.button-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
}

.submit-btn,
.delete-btn {
  width: 150px;
  height: 30px;
  justify-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.submit-btn {
  justify-self: right;
}

.delete-btn {
  justify-self: left;
  background-color: rgb(197, 73, 73);
}

.admission-btn {
  justify-content: center;
  padding: 3px 30px 3px 30px;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: #d4d2d2;
}

footer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: lightgray;
}

.signature {
  align-content: center;
}

@media screen and (max-width: 780px) {
  .hero-img {
    width: 400px;
  }
  .edit-form-article {
    grid-template:
      "edit-form-title-h1" auto
      "edit-form-picture-div" auto
      "edit-form" auto
      "button-div" auto/
      auto;
  }
  .signature {
    padding-left: 0px;
  }
  footer {
    grid-template-columns: repeat(1, auto);
    justify-items: center;
    margin-top: 3ch;
    padding-bottom: 2ch;
    border-right: auto;
    border-left: auto;
  }
  footer h4 {
    margin-bottom: 0px;
  }
  footer p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 430px) {
  .hero-img {
    width: 300px;
  }
  .edit-form-pic {
    max-width: 300px;
  }
}
.prisoner-article:hover,
.admission-btn:hover,
.edit-btn:hover,
.submit-btn:hover,
.crimes-list-item:hover,
.option-list-item:hover {
  background-color: white;
  transform: scale(1.05);
}
.delete-btn:hover {
  background-color: red;
}
.prisoner-article:hover {
  border-color: aqua;
  transform: scale(1.02);
}
.crimes-list-item:hover {
  transform: scale(1.2);
}

.main-h2:hover,
.main-h1:hover {
  color: darkgreen;
  border-color: darkgreen;
}
