* {
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.main-h1 {
  display: grid;
  justify-content: center;
  font-size: 3rem;
}

.main-h2 {
  display: grid;
  justify-content: center;
  font-size: 2rem;
}

.hero-img {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}

.dispay-menu {
  display: grid;
  justify-content: center;
}

.options-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3ch;
  justify-content: center;
}

.option-list-item {
  display: grid;
  justify-content: center;
  list-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: lightgray;
  padding: 1.2ch;
  border-radius: 5px;
  font-size: 1.5rem;
}

.display-content {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-left: 7rem;
  margin-right: 7rem;
}

.prisoner-article {
  display: grid;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 225px;
}

.prisoner-title {
  text-align: center;
  padding: 3px;
  margin: 3px;
}

.prisoner-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.crime-title {
  margin: 0;
  padding-top: 10px;
}

.crime-type {
  text-align: center;
  padding: 7px;
  margin: 0;
}

.block-sell {
  margin-top: 10px;
}

.btn-wrapper {
  text-align: center;
}

.edit-btn {
  padding: 3px 30px 3px 30px;
  margin-top: 10px;
}

.form-article {
  width: 500px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  padding: 10px;
}

.edit-form {
  display: grid;
  grid-gap: 15px;
}

.form-title {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.first-name-div,
.last-name-div,
.crime-type-div,
.nick-name-div,
.block-cell-div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  font-size: 1.3rem;
}

.checkbox-section {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto 1fr;
  margin-left: 10px;
}

label {
  font-weight: 600;
}

.picture-label,
.crime-details-label {
  font-size: 1.3rem;
}

.button-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
}

.submit-btn,
.delete-btn {
  width: 150px;
  height: 30px;
  justify-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.submit-btn {
  justify-self: right;
}

.delete-btn {
  justify-self: left;
  background-color: rgb(197, 73, 73);
}
